@mixin toast-estile($toast-background-color, $toast-box-shadow) {
  .toasted.vuestic-toast {
    color: $almost-black;
    background-color: $toast-background-color;
    box-shadow: $toast-box-shadow;
    i.fa{
      color: $charcoal;
    }
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.toast-error {
  @include toast-estile($state-danger-bg, $alert-danger-shadow);
}
.toast-added,.toast-deleted {
  @include toast-estile($state-success-bg, $alert-success-shadow);
}
.toast-action {
  color: $almost-black;
  flex: 0 0 100%;
  width: 20px;
}
